In [38]:
import pandas as pd

In [39]:
matches = pd.read_csv("matches.csv", index_col=0)

In [40]:
matches.head()

,rk,squad,year,mp,w,d,l,gf,ga,gd,pts,top team scorer,goalkeeper,notes
1,1,France,2016,7.0,5.0,1.0,1.0,13.0,5.0,8.0,16.0,Antoine Griezmann - 6,Hugo Lloris,NaN
0,2,Portugal,2016,7.0,3.0,4.0,0.0,9.0,5.0,4.0,13.0,"Cristiano Ronaldo, Nani - 3",Rui Patrício,NaN
2,3,Wales,2016,6.0,4.0,0.0,2.0,10.0,6.0,4.0,12.0,Gareth Bale - 3,Wayne Hennessey,NaN
3,4,Germany,2016,6.0,3.0,2.0,1.0,7.0,3.0,4.0,11.0,Mario Gómez - 2,Manuel Neuer,NaN
4,5,Italy,2016,5.0,3.0,1.0,1.0,6.0,2.0,4.0,10.0,Graziano Pellè - 2,Gianluigi Buffon,NaN

In [41]:
matches.shape

(88, 14)

In [42]:
24 * 2 + 16 * 4 # 2 * 24 (die letzten 2 Jahre), 4 * 16 ()

112

In [43]:
# matches = matches[matches['rk'] <= 16]

In [44]:
# matches

In [45]:
matches['squad'].value_counts()

squad
France              5
Portugal            5
Germany             5
Italy               5
Spain               5
Czechia             5
Sweden              5
Netherlands         4
Russia              4
Croatia             4
England             4
Denmark             3
Greece              3
Romania             3
Türkiye             3
Switzerland         3
Poland              3
Ukraine             2
Rep. of Ireland     2
Austria             2
Belgium             2
Wales               1
Yugoslavia          1
Norway              1
Bulgaria            1
Latvia              1
Northern Ireland    1
Slovakia            1
Iceland             1
Hungary             1
Albania             1
Slovenia            1
Name: count, dtype: int64

In [46]:
matches.dtypes

rk                   int64
squad               object
year                 int64
mp                 float64
w                  float64
d                  float64
l                  float64
gf                 float64
ga                 float64
gd                 float64
pts                float64
top team scorer     object
goalkeeper          object
notes              float64
dtype: object

In [47]:
# matches = matches.sample(frac=1) # shuffle dataframe using sample function

In [48]:
matches.head()

,rk,squad,year,mp,w,d,l,gf,ga,gd,pts,top team scorer,goalkeeper,notes
1,1,France,2016,7.0,5.0,1.0,1.0,13.0,5.0,8.0,16.0,Antoine Griezmann - 6,Hugo Lloris,NaN
0,2,Portugal,2016,7.0,3.0,4.0,0.0,9.0,5.0,4.0,13.0,"Cristiano Ronaldo, Nani - 3",Rui Patrício,NaN
2,3,Wales,2016,6.0,4.0,0.0,2.0,10.0,6.0,4.0,12.0,Gareth Bale - 3,Wayne Hennessey,NaN
3,4,Germany,2016,6.0,3.0,2.0,1.0,7.0,3.0,4.0,11.0,Mario Gómez - 2,Manuel Neuer,NaN
4,5,Italy,2016,5.0,3.0,1.0,1.0,6.0,2.0,4.0,10.0,Graziano Pellè - 2,Gianluigi Buffon,NaN

In [49]:
matches['Top 4'] = matches['rk'] <= 4

In [50]:
matches

,rk,squad,year,mp,w,d,l,gf,ga,gd,pts,top team scorer,goalkeeper,notes,Top 4
1,1,France,2016,7.0,5.0,1.0,1.0,13.0,5.0,8.0,16.0,Antoine Griezmann - 6,Hugo Lloris,NaN,True
0,2,Portugal,2016,7.0,3.0,4.0,0.0,9.0,5.0,4.0,13.0,"Cristiano Ronaldo, Nani - 3",Rui Patrício,NaN,True
2,3,Wales,2016,6.0,4.0,0.0,2.0,10.0,6.0,4.0,12.0,Gareth Bale - 3,Wayne Hennessey,NaN,True
3,4,Germany,2016,6.0,3.0,2.0,1.0,7.0,3.0,4.0,11.0,Mario Gómez - 2,Manuel Neuer,NaN,True
4,5,Italy,2016,5.0,3.0,1.0,1.0,6.0,2.0,4.0,10.0,Graziano Pellè - 2,Gianluigi Buffon,NaN,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11,12,Belgium,2000,3.0,1.0,0.0,2.0,2.0,5.0,-3.0,3.0,"Émile Mpenza, Bart Goor - 1",Filip De Wilde,NaN,False
12,13,Slovenia,2000,3.0,0.0,2.0,1.0,4.0,5.0,-1.0,2.0,Zlatko Zahovič - 3,Mladen Dabanovič,NaN,False
13,14,Sweden,2000,3.0,0.0,1.0,2.0,2.0,4.0,-2.0,1.0,"Johan Mjällby, Henrik Larsson - 1",Magnus Hedman,NaN,False
14,15,Germany,2000,3.0,0.0,1.0,2.0,1.0,5.0,-4.0,1.0,Mehmet Scholl - 1,Oliver Kahn,NaN,False
15,16,Denmark,2000,3.0,0.0,0.0,3.0,0.0,8.0,-8.0,0.0,NaN,Peter Schmeichel,NaN,False

In [51]:
matches.reset_index(drop=True)

,rk,squad,year,mp,w,d,l,gf,ga,gd,pts,top team scorer,goalkeeper,notes,Top 4
0,1,France,2016,7.0,5.0,1.0,1.0,13.0,5.0,8.0,16.0,Antoine Griezmann - 6,Hugo Lloris,NaN,True
1,2,Portugal,2016,7.0,3.0,4.0,0.0,9.0,5.0,4.0,13.0,"Cristiano Ronaldo, Nani - 3",Rui Patrício,NaN,True
2,3,Wales,2016,6.0,4.0,0.0,2.0,10.0,6.0,4.0,12.0,Gareth Bale - 3,Wayne Hennessey,NaN,True
3,4,Germany,2016,6.0,3.0,2.0,1.0,7.0,3.0,4.0,11.0,Mario Gómez - 2,Manuel Neuer,NaN,True
4,5,Italy,2016,5.0,3.0,1.0,1.0,6.0,2.0,4.0,10.0,Graziano Pellè - 2,Gianluigi Buffon,NaN,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
83,12,Belgium,2000,3.0,1.0,0.0,2.0,2.0,5.0,-3.0,3.0,"Émile Mpenza, Bart Goor - 1",Filip De Wilde,NaN,False
84,13,Slovenia,2000,3.0,0.0,2.0,1.0,4.0,5.0,-1.0,2.0,Zlatko Zahovič - 3,Mladen Dabanovič,NaN,False
85,14,Sweden,2000,3.0,0.0,1.0,2.0,2.0,4.0,-2.0,1.0,"Johan Mjällby, Henrik Larsson - 1",Magnus Hedman,NaN,False
86,15,Germany,2000,3.0,0.0,1.0,2.0,1.0,5.0,-4.0,1.0,Mehmet Scholl - 1,Oliver Kahn,NaN,False
87,16,Denmark,2000,3.0,0.0,0.0,3.0,0.0,8.0,-8.0,0.0,NaN,Peter Schmeichel,NaN,False

In [52]:
features = ["mp", "w", "d", "l", "gf", "ga", "gd", "pts"]
X = matches[features]
y = matches["Top 4"] # target

In [53]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=42, stratify=y)

In [54]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)

In [55]:
clf = RandomForestClassifier(random_state=42, n_estimators=100, max_depth=5)
clf.fit(X_train_scaled, y_train)

RandomForestClassifier(max_depth=5, random_state=42)

In [56]:
from sklearn.metrics import classification_report, accuracy_score

y_pred = clf.predict(X_test_scaled)
accuracy = accuracy_score(y_test, y_pred)
report = classification_report(y_test, y_pred)

In [57]:
print(f"Accuracy: {accuracy}")
print("Classification Report:")
print(report)

Accuracy: 1.0
Classification Report:
              precision    recall  f1-score   support

       False       1.00      1.00      1.00        17
        True       1.00      1.00      1.00         5

    accuracy                           1.00        22
   macro avg       1.00      1.00      1.00        22
weighted avg       1.00      1.00      1.00        22

In [58]:
from sklearn.model_selection import train_test_split, cross_val_score
import numpy as np


cv_scores = cross_val_score(clf, X_train_scaled, y_train, cv=5)
print(f"Cross-validation scores: {cv_scores}")
print(f"Mean CV score: {np.mean(cv_scores)}")

Cross-validation scores: [0.92857143 0.92307692 0.92307692 0.84615385 1.        ]
Mean CV score: 0.9241758241758241

In [59]:
feature_importance = pd.DataFrame({'feature': features, 'importance': clf.feature_importances_})
print("\nFeature Importance:")
print(feature_importance.sort_values('importance', ascending=False))

Feature Importance:
  feature  importance
7     pts    0.252853
1       w    0.237088
0      mp    0.138633
6      gd    0.130104
4      gf    0.127728
3       l    0.053524
5      ga    0.034846
2       d    0.025225

In [60]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import StandardScaler

# Load the data
matches = pd.read_csv("matches.csv", index_col=0)

# Select relevant features
features = ["mp", "w", "d", "l", "gf", "ga", "gd", "pts", "rk"]

# Group by country and calculate mean performance across all years
country_performance = matches.groupby('squad')[features].mean().reset_index()

# Create a composite score
scaler = StandardScaler()
normalized_features = scaler.fit_transform(country_performance[features])

# Define weights for each feature
weights = {
    "mp": 0.05, "w": 0.15, "d": 0.05, "l": -0.1, "gf": 0.1,
    "ga": -0.05, "gd": 0.15, "pts": 0.2, "rk": -0.15
}

# Calculate composite score
composite_scores = np.dot(normalized_features, list(weights.values()))

# Add composite score to the dataframe
country_performance['composite_score'] = composite_scores

# Sort countries by composite score and get top 4
top_4_countries = country_performance.sort_values('composite_score', ascending=False).head(4)

print("Top 4 countries across all years based on composite score:")
for i, (index, row) in enumerate(top_4_countries.iterrows(), 1):
    print(f"{i}. {row['squad']} (Composite Score: {row['composite_score']:.4f})")

print("\nDetailed performance of top 4 countries:")
print(top_4_countries[['squad'] + features].to_string(index=False))

# Calculate how often each country finished in the top 4
top_4_appearances = matches[matches['rk'] <= 4]['squad'].value_counts()

print("\nNumber of top 4 finishes for each country:")
print(top_4_appearances.head(10))  # Show top 10 countries

# Get the top 4 countries based on actual top 4 finishes
actual_top_4 = set(top_4_appearances.head(4).index)

# Compare our predicted top 4 with actual top 4
predicted_top_4 = set(top_4_countries['squad'])

# Calculate accuracy
correct_predictions = len(predicted_top_4.intersection(actual_top_4))
accuracy = correct_predictions / 4  # 4 is the number of top countries we're predicting

print(f"\nAccuracy of the model: {accuracy:.2%}")

print("\nComparison of our predicted top 4 with actual top 4 finishers:")
for country in predicted_top_4:
    appearances = top_4_appearances.get(country, 0)
    in_actual_top_4 = "Yes" if country in actual_top_4 else "No"
    print(f"{country}: {appearances} top 4 finishes, In Actual Top 4: {in_actual_top_4}")

Top 4 countries across all years based on composite score:
1. Wales (Composite Score: 1.6985)
2. Portugal (Composite Score: 1.4663)
3. Spain (Composite Score: 1.3424)
4. Italy (Composite Score: 1.0728)

Detailed performance of top 4 countries:
   squad  mp   w   d   l   gf  ga  gd  pts  rk
   Wales 6.0 4.0 0.0 2.0 10.0 6.0 4.0 12.0 3.0
Portugal 5.4 3.0 1.2 1.2  8.0 5.0 3.0 10.2 3.8
   Spain 4.6 2.8 0.8 1.0  7.6 3.4 4.2  9.2 5.4
   Italy 4.8 2.2 1.8 0.8  5.4 3.8 1.6  8.4 5.6

Number of top 4 finishes for each country:
squad
Portugal       4
Germany        3
France         2
Spain          2
Italy          2
Netherlands    2
Wales          1
Croatia        1
Greece         1
Czechia        1
Name: count, dtype: int64

Accuracy of the model: 50.00%

Comparison of our predicted top 4 with actual top 4 finishers:
Portugal: 4 top 4 finishes, In Actual Top 4: Yes
Spain: 2 top 4 finishes, In Actual Top 4: Yes
Wales: 1 top 4 finishes, In Actual Top 4: No
Italy: 2 top 4 finishes, In Actual Top 4: No

In [61]:
country_performance

,squad,mp,w,d,l,gf,ga,gd,pts,rk,composite_score
0,Albania,3.000000,1.000000,0.000000,2.000000,1.000000,3.000000,-2.000000,3.000000,18.000000,-0.764010
1,Austria,3.000000,0.000000,1.000000,2.000000,1.000000,3.500000,-2.500000,1.000000,17.500000,-1.003388
2,Belgium,4.000000,2.000000,0.000000,2.000000,5.500000,5.000000,0.500000,6.000000,9.000000,0.265005
3,Bulgaria,3.000000,0.000000,0.000000,3.000000,1.000000,9.000000,-8.000000,0.000000,16.000000,-1.697807
4,Croatia,3.500000,1.500000,1.250000,0.750000,4.500000,3.750000,0.750000,5.750000,8.250000,0.477277
5,Czechia,3.600000,1.600000,0.200000,1.800000,4.600000,5.000000,-0.400000,5.000000,10.000000,0.033823
6,Denmark,3.333333,0.666667,0.666667,2.000000,2.666667,6.000000,-3.333333,2.666667,12.333333,-0.636463
7,England,3.750000,1.500000,1.250000,1.000000,6.000000,4.750000,1.250000,5.750000,8.000000,0.523861
8,France,4.800000,2.600000,0.800000,1.400000,7.400000,5.600000,1.800000,8.600000,6.400000,0.987404
9,Germany,4.600000,2.200000,1.000000,1.400000,6.000000,4.800000,1.200000,7.600000,7.000000,0.765536
10,Greece,4.333333,1.666667,0.666667,2.000000,4.333333,5.333333,-1.000000,5.666667,8.666667,0.140585
11,Hungary,4.000000,1.000000,2.000000,1.000000,6.000000,8.000000,-2.000000,5.000000,13.000000,0.033854
12,Iceland,5.000000,2.000000,2.000000,1.000000,8.000000,9.000000,-1.000000,8.000000,8.000000,0.760506
13,Italy,4.800000,2.200000,1.800000,0.800000,5.400000,3.800000,1.600000,8.400000,5.600000,1.072814
14,Latvia,3.000000,0.000000,1.000000,2.000000,1.000000,5.000000,-4.000000,1.000000,14.000000,-0.993640
15,Netherlands,4.250000,2.000000,0.750000,1.500000,8.000000,4.500000,3.500000,6.750000,7.000000,0.825854
16,Northern Ireland,4.000000,1.000000,0.000000,3.000000,2.000000,3.000000,-1.000000,3.000000,16.000000,-0.700071
17,Norway,3.000000,1.000000,1.000000,1.000000,1.000000,1.000000,0.000000,4.000000,6.000000,0.146454
18,Poland,3.666667,0.666667,2.000000,1.000000,2.333333,3.000000,-0.666667,4.000000,11.666667,-0.017860
19,Portugal,5.400000,3.000000,1.200000,1.200000,8.000000,5.000000,3.000000,10.200000,3.800000,1.466259
20,Rep. of Ireland,3.500000,0.500000,0.500000,2.500000,2.000000,7.500000,-5.500000,2.000000,15.000000,-1.073006
21,Romania,3.333333,0.333333,1.333333,1.666667,2.333333,4.333333,-2.000000,2.333333,13.000000,-0.528259
22,Russia,3.500000,1.250000,0.500000,1.750000,4.000000,5.250000,-1.250000,4.250000,11.500000,-0.178730
23,Slovakia,4.000000,1.000000,1.000000,2.000000,3.000000,6.000000,-3.000000,4.000000,15.000000,-0.484448
24,Slovenia,3.000000,0.000000,2.000000,1.000000,4.000000,5.000000,-1.000000,2.000000,13.000000,-0.355443
25,Spain,4.600000,2.800000,0.800000,1.000000,7.600000,3.400000,4.200000,9.200000,5.400000,1.342357
26,Sweden,3.200000,0.600000,1.000000,1.600000,3.800000,3.800000,0.000000,2.800000,12.200000,-0.268830
27,Switzerland,3.333333,0.666667,1.333333,1.333333,2.333333,3.666667,-1.333333,3.333333,11.666667,-0.248598
28,Türkiye,4.000000,1.333333,0.666667,2.000000,4.333333,5.666667,-1.333333,4.666667,10.000000,-0.078808
29,Ukraine,3.000000,0.500000,0.000000,2.500000,1.000000,4.500000,-3.500000,1.500000,18.500000,-1.168170
30,Wales,6.000000,4.000000,0.000000,2.000000,10.000000,6.000000,4.000000,12.000000,3.000000,1.698497
31,Yugoslavia,4.000000,1.000000,1.000000,2.000000,8.000000,13.000000,-5.000000,4.000000,9.000000,-0.342556

In [74]:
import pandas as pd
import numpy as np
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report, accuracy_score
from sklearn.preprocessing import StandardScaler

# Load the data
matches = pd.read_csv("matches.csv", index_col=0)

# Aggregate data for each team across all tournaments
team_stats = matches.groupby('squad').agg({
    'mp': 'sum',
    'w': 'sum',
    'd': 'sum',
    'l': 'sum',
    'gf': 'sum',
    'ga': 'sum',
    'gd': 'sum',
    'pts': 'sum',
    'year': 'count'  # Number of tournaments participated
}).reset_index()

# Calculate additional features
team_stats['avg_pts_per_match'] = team_stats['pts'] / team_stats['mp']
team_stats['avg_gd_per_match'] = team_stats['gd'] / team_stats['mp']
team_stats['win_rate'] = team_stats['w'] / team_stats['mp']

# Sort teams by average points per match and select top 4
top_4_teams = team_stats.nlargest(4, 'avg_pts_per_match')['squad'].tolist()

# Create target variable
team_stats['Top_4'] = team_stats['squad'].isin(top_4_teams)

print(team_stats)

# Select features for the model
features = ['mp', 'w', 'd', 'l', 'gf', 'ga', 'gd', 'pts', 'year', 'avg_pts_per_match', 'avg_gd_per_match', 'win_rate']
X = team_stats[features]
y = team_stats['Top_4']

# Scale the features
scaler = StandardScaler()
X_scaled = scaler.fit_transform(X)

# Split the data
X_train, X_test, y_train, y_test = train_test_split(X_scaled, y, test_size=0.3, random_state=42, stratify=y)

# Train the model
clf = RandomForestClassifier(random_state=42, class_weight='balanced')
clf.fit(X_train, y_train)

# Make predictions
y_pred = clf.predict(X_test)

# Evaluate the model
accuracy = accuracy_score(y_test, y_pred)
report = classification_report(y_test, y_pred)

print(f"Accuracy: {accuracy}")
print("Classification Report:")
print(report)

# Feature importance
feature_importance = pd.DataFrame({'feature': features, 'importance': clf.feature_importances_})
feature_importance = feature_importance.sort_values('importance', ascending=False)
print("\nFeature Importance:")
print(feature_importance)

# Print top 4 teams
print("\nTop 4 Teams based on average points per match:")
print(top_4_teams)

# Predict probabilities for all teams
team_stats['top_4_probability'] = clf.predict_proba(X_scaled)[:, 1]

# Print top 10 teams by model prediction
print("\nTop 10 Teams based on model prediction:")
print(team_stats.nlargest(10, 'top_4_probability')[['squad', 'top_4_probability']])

# Analyze misclassifications
misclassified = team_stats[clf.predict(X_scaled) != team_stats['Top_4']]
print("\nMisclassified Teams:")
print(misclassified[['squad', 'Top_4', 'top_4_probability']])

               squad    mp     w     d     l    gf    ga    gd   pts  year  \
0            Albania   3.0   1.0   0.0   2.0   1.0   3.0  -2.0   3.0     1
1            Austria  10.0   2.0   2.0   6.0   7.0  12.0  -5.0   8.0     3
2            Belgium  13.0   8.0   0.0   5.0  20.0  13.0   7.0  24.0     3
3           Bulgaria   3.0   0.0   0.0   3.0   1.0   9.0  -8.0   0.0     1
4            Croatia  18.0   7.0   6.0   5.0  25.0  23.0   2.0  27.0     5
5            Czechia  23.0  10.0   2.0  11.0  29.0  29.0   0.0  32.0     6
6            Denmark  16.0   5.0   2.0   9.0  20.0  25.0  -5.0  17.0     4
7            England  22.0  11.0   7.0   4.0  35.0  21.0  14.0  40.0     5
8            Finland   3.0   1.0   0.0   2.0   1.0   3.0  -2.0   3.0     1
9             France  28.0  14.0   7.0   7.0  44.0  34.0  10.0  49.0     6
10           Germany  27.0  12.0   6.0   9.0  36.0  31.0   5.0  42.0     6
11            Greece  13.0   5.0   2.0   6.0  13.0  16.0  -3.0  17.0     3
12           Hungary   7.0   1.0   4.0   2.0   9.0  14.0  -5.0   7.0     2
13           Iceland   5.0   2.0   2.0   1.0   8.0   9.0  -1.0   8.0     1
14             Italy  31.0  16.0  11.0   4.0  40.0  23.0  17.0  59.0     6
15            Latvia   3.0   0.0   1.0   2.0   1.0   5.0  -4.0   1.0     1
16      N. Macedonia   3.0   0.0   0.0   3.0   2.0   8.0  -6.0   0.0     1
17       Netherlands  21.0  11.0   3.0   7.0  40.0  22.0  18.0  36.0     5
18  Northern Ireland   4.0   1.0   0.0   3.0   2.0   3.0  -1.0   3.0     1
19            Norway   3.0   1.0   1.0   1.0   1.0   1.0   0.0   4.0     1
20            Poland  14.0   2.0   7.0   5.0  11.0  15.0  -4.0  13.0     4
21          Portugal  31.0  16.0   7.0   8.0  47.0  32.0  15.0  55.0     6
22   Rep. of Ireland   7.0   1.0   1.0   5.0   4.0  15.0 -11.0   4.0     2
23           Romania  10.0   1.0   4.0   5.0   7.0  13.0  -6.0   7.0     3
24            Russia  17.0   6.0   2.0   9.0  18.0  28.0 -10.0  20.0     5
25          Scotland   3.0   0.0   1.0   2.0   1.0   5.0  -4.0   1.0     1
26          Slovakia   7.0   2.0   1.0   4.0   5.0  13.0  -8.0   7.0     2
27          Slovenia   3.0   0.0   2.0   1.0   4.0   5.0  -1.0   2.0     1
28             Spain  29.0  16.0   8.0   5.0  51.0  23.0  28.0  56.0     6
29            Sweden  20.0   5.0   6.0   9.0  24.0  23.0   1.0  21.0     6
30       Switzerland  15.0   3.0   7.0   5.0  15.0  20.0  -5.0  16.0     4
31           Türkiye  15.0   4.0   2.0   9.0  14.0  25.0 -11.0  14.0     4
32           Ukraine  11.0   3.0   0.0   8.0   8.0  19.0 -11.0   9.0     3
33             Wales  10.0   5.0   1.0   4.0  13.0  12.0   1.0  16.0     2
34        Yugoslavia   4.0   1.0   1.0   2.0   8.0  13.0  -5.0   4.0     1

    avg_pts_per_match  avg_gd_per_match  win_rate  Top_4
0            1.000000         -0.666667  0.333333  False
1            0.800000         -0.500000  0.200000  False
2            1.846154          0.538462  0.615385   True
3            0.000000         -2.666667  0.000000  False
4            1.500000          0.111111  0.388889  False
5            1.391304          0.000000  0.434783  False
6            1.062500         -0.312500  0.312500  False
7            1.818182          0.636364  0.500000   True
8            1.000000         -0.666667  0.333333  False
9            1.750000          0.357143  0.500000  False
10           1.555556          0.185185  0.444444  False
11           1.307692         -0.230769  0.384615  False
12           1.000000         -0.714286  0.142857  False
13           1.600000         -0.200000  0.400000  False
14           1.903226          0.548387  0.516129   True
15           0.333333         -1.333333  0.000000  False
16           0.000000         -2.000000  0.000000  False
17           1.714286          0.857143  0.523810  False
18           0.750000         -0.250000  0.250000  False
19           1.333333          0.000000  0.333333  False
20           0.928571         -0.285714  0.142857  False
21           1.774194          0.483871  0.516129  False
22           0.571429         -1.571429  0.142857  False
23           0.700000         -0.600000  0.100000  False
24           1.176471         -0.588235  0.352941  False
25           0.333333         -1.333333  0.000000  False
26           1.000000         -1.142857  0.285714  False
27           0.666667         -0.333333  0.000000  False
28           1.931034          0.965517  0.551724   True
29           1.050000          0.050000  0.250000  False
30           1.066667         -0.333333  0.200000  False
31           0.933333         -0.733333  0.266667  False
32           0.818182         -1.000000  0.272727  False
33           1.600000          0.100000  0.500000  False
34           1.000000         -1.250000  0.250000  False
Accuracy: 0.7272727272727273
Classification Report:
              precision    recall  f1-score   support

       False       1.00      0.70      0.82        10
        True       0.25      1.00      0.40         1

    accuracy                           0.73        11
   macro avg       0.62      0.85      0.61        11
weighted avg       0.93      0.73      0.79        11


Feature Importance:
              feature  importance
9   avg_pts_per_match    0.207541
10   avg_gd_per_match    0.187500
6                  gd    0.154584
11           win_rate    0.113371
1                   w    0.093968
4                  gf    0.070941
7                 pts    0.065482
2                   d    0.036737
0                  mp    0.034420
5                  ga    0.017120
8                year    0.014329
3                   l    0.004006

Top 4 Teams based on average points per match:
['Spain', 'Italy', 'Belgium', 'England']

Top 10 Teams based on model prediction:
          squad  top_4_probability
28        Spain               0.93
14        Italy               0.89
21     Portugal               0.82
2       Belgium               0.73
7       England               0.69
17  Netherlands               0.57
9        France               0.55
10      Germany               0.11
5       Czechia               0.03
4       Croatia               0.02

Misclassified Teams:
          squad  Top_4  top_4_probability
9        France  False               0.55
17  Netherlands  False               0.57
21     Portugal  False               0.82